<article id="<%= post.layout %>-<%= post.slug %>" <% if (!index && is_post() && ( theme.post_catalog.enable || theme.post_sidebar.enable )){ %>style="width: 66%; float:left;"<% } %> class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost" >
  <div id="articleInner" class="clearfix post-1016 post type-post status-publish format-standard has-post-thumbnail hentry category-template-2 category-uncategorized tag-codex tag-edge-case tag-featured-image tag-image tag-template">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/busuanzi-analytics',{index: index}) %>
    </div>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <% if (post.photos != ""){ %>
          <div class="entry-thumbnail">
            <a href="<%- url_for(post.path) %>"><img width="250" height="175" src="<%= post.photos[0] %>" class="attachment-thumb-featured size-thumb-featured wp-post-image" alt=""></a>
          </div>
          <div class="entry-summary">
          <%- truncate(strip_html(post.content), {length: 100, omission: '...'}) %>

        <% } else { %>

          <% if (theme.random_thumb){ %>
            <div class="entry-thumbnail">
              <a href="<%- url_for(post.path) %>"><img width="250" height="175" src="http://lorempixel.com/500/350/city/<%- Math.ceil(Math.random() * 10) %>" class="attachment-thumb-featured size-thumb-featured wp-post-image" alt=""></a>
            </div>
            <div class="entry-summary">
            <%- truncate(strip_html(post.content), {length: 100, omission: '...'}) %>
          <% } else { %>
            <div class="entry-summary" style="margin-left:0;">
            <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>
          <% } %>

        <% } %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>"><%= __('read_more') %></a>
          </p>
        </div>
      <% } else { %>
        <%- post.content %>
        <div style="font-size: 14px; background-color: #f1f1f1; padding:16px; border-left:2px solid #000">
          <b>本文作者：</b><a>吴老狗</a>
          <br/>
          <b>本文链接：</b><a href="<%- url_for(post.path) %>">https://www.wbhfe.com<%- url_for(post.path) %></a>
          <br/>
          <b>版权声明：</b>本作品采用
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
              CC BY-NC-SA 4.0
          </a>
          进行许可。转载请注明出处<a href="">吴老狗的小站</a>
          <br/>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"  style="paddingTop: 10px;">
              <img  alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
          </a>
      </div>
      <% } %>
    </div>
    <footer class="entry-meta entry-footer">
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      <% if (!index && theme.donate.enable){ %>
        <%- partial('donate') %>
      <% } %>
            
      <% if (!index && post.comments && (theme.gentie_productKey || theme.duoshuo_shortname || theme.disqus_shortname || theme.uyan_uid || theme.wumii || theme.livere_shortname || theme.gitment.owner)){ %>
        <%- partial('comment') %>
      <% } %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<!-- Table of Contents -->
<% if (!index && is_post() && theme.post_catalog.enable){ %>
  <aside id="sidebar">
    <div id="toc" class="toc-article" style="overflow-y: scroll; max-width: 28%;">
    <strong class="toc-title"><%= __('contents') %></strong>
    <% if (toc(post.content) != ""){ %>
      <%- toc(post.content, { "class": "nav" }) %>
    <% } else { %>
      <ol class="nav"><%= __('none') %></ol>
    <% } %>
    </div>
  </aside>
<% } else { %>
    <% if (!index && is_post() && theme.post_sidebar.enable){ %>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
    <% } %>
<% } %>